@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');

html, body, #app {
	font-family: 'IM Fell DW Pica', serif;
	line-height: 1.5;
}

h1 {
	font-family: 'IM Fell DW Pica', serif;
	font-size: 80px;
	color: black;
	text-align: center;
	line-height: 1.1;

	@include mobile {
		font-size: 32px;
	}
}

p {
	font-size: 16px;
}